*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color:rgb(234, 155, 38);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    margin: 40px;
    border: 6px rgb(20, 0, 54) dashed;
    width: 90vw;
    height: 90vh;
    border-radius: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 178, 246);
}

#card1{
    width: 350px;
    height: 500px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Cabin Sketch";
    color: rgb(126, 58, 6);
    font-size: xx-large;
    box-shadow: 3px rgb(16, 0, 46);
    padding: 15px;
}

p{
    color: rgb(70, 38, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: "Quicksand";
    font-size: large;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: rgb(20, 0, 54);
    color: white;
    border-radius: 10px;
    font-family: "Ubuntu";
    font-size: large;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.cakey{
    background-color: rgb(246, 237, 76);
    margin: 10px;
    padding: 0;
}

.cake img{
    width: 400px;
    height: 400px;
    display: flex;
    align-self: centre;
    justify-self: centre;
    margin-bottom: 30px;
}

.cake h1{
    font-family: "Roboto";
    color: rgb(7, 7, 82);
    text-shadow: 1px 1px rgb(1, 38, 52);
    margin-bottom: 50px;
    font-weight: 350;
}

.cake{
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.con{
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.btnn{
    height: 40px;
    width: 150px;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(118, 175, 235);
    color: rgb(1, 1, 57);
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: "Love you like a sister";
}

.cloud{
    width: 551px;
    height: 267px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.gift{
    background-color: rgb(128, 178, 248);
    display: grid;
    align-items: center;
    justify-content: center;
}

.gift h1{
    font-family: "Dynapuff";
    color: rgb(9, 35, 1);
    margin: 25px;
}

.column{
    background-color: rgb(186, 128, 248);
    width: 300px;
    height: 350px;
    border-radius: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.parent{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.column img{
    width: 200px;
    height: 200px;
}

.column h2{
    align-self: center;
    justify-self: center;
    display: flex;
}

.imseashell img{
    width: 350px;
    height: 350px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.poet{
    background-color: lightblue;
}

.conta{
    display: grid;
    justify-items: center;
    align-items: center;
}

.imseashell{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.seashell{
    animation: move 4s;
}

.imseashell button{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 200;
    font-size: large;
    border-radius: 15px;
    background-color: rgb(4, 4, 70);
    color: blanchedalmond;
}

.text{
    width: 70vw;
}

@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}