*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color:rgb(234, 155, 38);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    margin: 40px;
    border: 6px rgb(20, 0, 54) dashed;
    width: 90vw;
    height: 90vh;
    border-radius: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 178, 246);
}

#card1{
    width: 350px;
    height: 500px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Cabin Sketch";
    color: rgb(126, 58, 6);
    font-size: xx-large;
    box-shadow: 3px rgb(16, 0, 46);
    padding: 15px;
}

p{
    color: rgb(70, 38, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: "Quicksand";
    font-size: large;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: rgb(20, 0, 54);
    color: white;
    border-radius: 10px;
    font-family: "Ubuntu";
    font-size: large;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.cakey{
    background-color: rgb(246, 237, 76);
}

